<div class="container py-5">
  <h1 class="fw-bold mb-4">Catalog produse</h1>

  <!-- FILTRE -->
  <div class="row g-3 mb-4">
    <div class="col-md-6">
      <input class="form-control"
             [(ngModel)]="q"
             (input)="applyFilter()"
             placeholder="Caută produs...">
    </div>

    <div class="col-md-4">
      <select class="form-select"
              [(ngModel)]="category"
              (change)="applyFilter()">
        <option *ngFor="let c of categories">{{ c }}</option>
      </select>
    </div>
  </div>

  <!-- LOADER -->
  <div *ngIf="loading" class="alert alert-info">
    Se încarcă produsele...
  </div>

  <!-- EROARE -->
  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <!-- GRID -->
  <div class="row g-4">
    <div class="col-md-4"
         *ngFor="let item of filtered">
      <app-item-card [item]="item"></app-item-card>
    </div>
  </div>
</div>
